<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">{{site.name}}</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
			  {% for navItem in site.data.navItems %}
			  {% if navItem.activePathPattern == nil and page.url == navItem.url %}
			  {% assign isActive = true %}
			  {% elsif navItem.activePathPattern != nil and page.url contains navItem.activePathPattern %}
			  {% assign isActive = true %}
			  {% else %}
			  {% assign isActive = false %}
			  {%endif%}
			  <li class="{{navItem.class}} {% if isActive %}active{% endif %}"><a href="{{ navItem.url }}">{% if isActive %}<span class="sr-only">(current)</span>{% endif %}{{navItem.name}}</a></li>
			  {% endfor %}
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
