---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<nav class="text-center">
	<ul class="pagination">
		<li>
			<a href="{{ site.baseurl}}/blog" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% for i in (1..paginator.total_pages) %}
		{% if paginator.page == i %}
		<li class="active"><a href="#">{{ i }}</a></li>
		{% else %}
			{% if i == 1 %}
			<li><a href="{{ site.baseurl}}/blog">1</a></li>
			{% else %}
				<li><a href="{{ site.baseurl}}/blog/page{{ i }}">{{ i }}</a></li>
			{% endif %}
		{% endif %}
		{% endfor %}
	    <li>
	      <a href="{{ site.baseurl}}/blog/page{{ paginator.total_pages }}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	</ul>
</nav>